ENV_PROPERTIES_PATH=e:/JavaTestProjects/properties/suacelabs_env.properties
AUTH_CREDS_PATH=%s\\Documents\\saucedemo_creds.properties
REPORTER_CLASS=allure.impl.reporting.com.codinglair.taf.core.AllureReporter
SECRET_MANAGER_CLASS=impl.secret.utils.com.codinglair.taf.core.JasyptSecretManager
TEST_CONTEXT_CLASS=data.com.codinglair.taf.sauce.SauceDemoContext