ENV_PROPERTIES_PATH=e:/JavaTestProjects/properties/suacelabs_env.properties
REPORTER_CLASS=com.codinglair.taf.core.reporting.impl.allure.AllureReporter
SECRET_MANAGER_CLASS=com.codinglair.taf.core.utils.secret.impl.JasyptSecretManager
TEST_CONTEXT_CLASS=com.codinglair.taf.sauce.data.SauceDemoContext